@import "../../mixin.scss";

.burger-menu {
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 5;
    transition: all ease 0.3s;
    padding: 50px;
    overflow: auto;
    @include lg-mobile {
        padding: 50px 0 20px 0;
    }
}

.burger-menu.show {
    transform: translateX(0%);
    transition: all ease 0.3s;
}

.burger-nav-list {
    display: flex;
    flex-direction: column;
    @include lg-mobile {
        align-items: center;
    }
}

.burger-nav-item {
    margin-bottom: 50px;
    @include lg-mobile {
        margin-bottom: 30px;
    }
}

.burger-nav-link {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}
