@import "../../../mixin.scss";
@import "./review-rating/review-rating.scss";
@import "./review-form/review-form.scss";

.review-modal-block {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 100;
}

.review-modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid black;
    padding: 25px;
    @include lg-mobile {
        width: 95vw;
    }
}

.review-modal-title {
    font-weight: 700;
    font-size: 20px;
}
