@import "../../mixin.scss";
@import "./Products-header/Products-header.scss";
@import "./Products-settings/Products-settings.scss";

.categories {
    padding-bottom: 155px;
    @include tablets {
        padding-bottom: 80px;
    }
    @include lg-mobile {
        padding-bottom: 50px;
    }
}
