@import "../../../../mixin.scss";

.clothes-cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-bottom: 50px;
    @include tablets {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        margin-bottom: 30px;
    }
    @include lg-mobile {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

.clothes-cards-item {
    position: relative;
    min-width: 0;
}

.clothes-card {
    -webkit-tap-highlight-color: transparent;
}

.clothes-card-img {
    width: 100%;
    margin-bottom: 12px;
    @include lg-mobile {
        margin-bottom: 5px;
    }
}

.clothes-card-name {
    font-size: 14px;
    color: rgba($color: #121212, $alpha: 0.6);
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include lg-mobile {
        margin-bottom: 5px;
    }
}

.clothes-card-info {
    display: flex;
    justify-content: space-between;
    @include lg-mobile {
        display: block;
    }
}

.clothes-card-prices-block {
    display: flex;
    align-items: center;
    @include lg-mobile {
        justify-content: space-between;
    }
}

.clothes-price {
    font-weight: bold;
    font-size: 14px;
    @include lg-mobile {
        margin-bottom: 5px;
        font-size: 12px;
    }
}

.clothes-old-price {
    font-weight: bold;
    font-size: 12px;
    text-decoration-line: line-through;
    color: rgba($color: #121212, $alpha: 0.4);
    margin-left: 5px;
}

.discount {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 8px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    background: #e91e63;
    @include lg-mobile {
        padding: 5px 5px;
        font-size: 10px;
    }
}
