.wrapper-header-cart {
    background: #121212;
}

.header-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.header-cart-title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.header-cart-btn {
    background: url(../../../img/close-cart-btn.svg) no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}
