@import "../../../mixin.scss";

.wrapper-subscribe-block {
    background: linear-gradient(180deg, #f3f2f2 0%, #dcdbdb 100%);
    padding: 60px 0;

    display: flex;
    justify-content: center;
    @include lg-mobile {
        padding: 40px 0;
    }
}

.subscribe-block {
    position: relative;
    background: #ffffff;
    width: 532px;
    border-radius: 4px;
    padding: 80px 96px 96px 96px;
    @include lg-mobile {
        width: 95%;
        padding: 40px 20px;
    }
}

.subscribe-block-title {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.4;
    text-align: center;
    margin-bottom: 16px;
    @include lg-mobile {
        font-size: 10px;
        margin-bottom: 10px;
    }
}

.subscribe-block-subtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
    white-space: pre-line;
    @include lg-mobile {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.subscribe-block-subtitle span {
    color: #e91e63;
}

.main-subscribe-form {
    position: relative;
}

.main-subscribe-input {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    background: #f8f8f8;
    border: none;
    padding: 22px 0 24px 0;
    margin-bottom: 24px;
    @include lg-mobile {
        padding: 15px 0 15px 0;
        margin-bottom: 20px;
    }
    &::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: rgba($color: #121212, $alpha: 0.4);
        @include lg-mobile {
            font-size: 10px;
        }
    }
    &:hover {
        &::placeholder {
            transition: all ease 0.3s;
            color: rgba($color: #121212, $alpha: 0.6);
        }
    }
}

.main-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #121212;
    border: 2px solid #121212;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba($color: #ffffff, $alpha: 0.9);
    transition: all ease 0.3s;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    @include lg-mobile {
        font-size: 10px;
        height: 50px;
        margin-bottom: 15px;
    }
    &:hover {
        background: #e6e6e6;
        color: #121212;
        border-color: #e6e6e6;
    }

    &:active {
        background: #9c9c9c;
        border-color: #9c9c9c;
        color: #ffffff;
    }
    &:disabled {
        opacity: 0.35;
    }
    &:disabled:hover {
        background: #121212;
        border: 2px solid #121212;
        color: rgba($color: #ffffff, $alpha: 0.9);
    }
}

.main_response_email {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 11px;
    color: #d61313;
}

.success_email {
    color: green;
}

.subscribe-block-women {
    position: absolute;
    top: -21px;
    left: 0;
    transform: translateX(-85%);
    @include lg-mobile {
        display: none;
    }
}

.subscribe-block-men {
    position: absolute;
    top: -10px;
    right: 0;
    transform: translateX(95%);
    @include lg-mobile {
        display: none;
    }
}
