@import "../../../mixin.scss";

.products-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    @include lg-mobile {
        padding: 20px 0;
    }
}

.filter-btn {
    background: url(../../../img/filter-btn.svg) no-repeat left;
    text-align: right;
    width: 95px;
    height: 32px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba($color: #121212, $alpha: 0.6);
    outline: none;
    cursor: pointer;
    transition: all ease 0.1s;
    @include lg-mobile {
        font-size: 10px;
        width: 75px;
    }
}

.filter-btn.filter_open {
    background: url(../../../img/filter-open-btn.svg) no-repeat left;
}

.page-view-block {
    display: flex;
}

.page-view-list-btn {
    background: url(../../../img/display-list.svg) no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
    margin-right: 28px;
    @include lg-mobile {
        margin-right: 15px;
    }
}

.page-view-squares-btn {
    background: url(../../../img/display-tile.svg) no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
}

.products-settings-sort {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.6;
    background: #ffffff;
    border: none;
    @include lg-mobile {
        font-size: 10px;
    }
}

.activ-filters-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    @include lg-mobile {
        display: block;
    }
}

.hidden {
    display: none;
}

.show_filter {
    display: block;
}

.items-found,
.activ_filter {
    display: block;
    font-size: 14px;
    margin-right: 20px;
    @include lg-mobile {
        font-size: 12px;
        margin: 0 0 10px 0;
    }
}

.activ_filter {
    opacity: 0.6;
}
