@import "../../mixin.scss";

.filter {
    display: flex;
    height: 320px;
    padding: 25px 10px;
    background: #f8f8f8;
    @include tablets {
        padding: 25px 0;
    }
    @include lg-mobile {
        flex-wrap: wrap;
        height: auto;
        padding: 25px 5px 0 5px;
    }
}

.filter-category {
    width: 25%;
    padding: 0 30px;
    overflow-y: auto;
    @include tablets {
        padding: 0 10px;
    }
    @include lg-mobile {
        width: 50%;
        height: 250px;
        padding: 0 5px;
        margin-bottom: 20px;
    }
}

.filter-category-title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include tablets {
        font-size: 12px;
    }
}

.filter-item {
    margin-bottom: 16px;
}

.filter-item:last-child {
    margin-bottom: 0;
}

.filter-label {
    font-size: 13px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    @include tablets {
        font-size: 10px;
    }
}

.custom-checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox > span {
    display: flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox > span::before {
    content: "";
    display: block;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid #e6e6e6;
    margin-right: 5px;
    @include tablets {
        width: 15px;
        height: 15px;
    }
}

.custom-checkbox > input:checked + span::before {
    border-color: #121212;
    background: url(../../img/custom-checkbox-checked.svg) no-repeat center;
}
