@import "../../../mixin.scss";

.product-slider-block {
    display: flex;
    width: 100%;
    @include tablets {
        margin-bottom: 30px;
    }
    @include lg-mobile {
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
}

.slider-small-btn {
    display: flex;
    @include lg-mobile {
        display: none;
    }
}

.btn-prev {
    background: url(../../../img/main-slider-btn-left.svg) no-repeat center;
}

.btn-next {
    background: url(../../../img/main-slider-btn-right.svg) no-repeat center;
}

.btn-prev,
.btn-next {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    margin: 0 16px 16px 0;
}

.product-slider-small {
    width: 94px;
    height: 590px;
    margin-right: 16px;
    @include lg-mobile {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
}

.slider-small-img {
    width: 94px;
    height: auto;
    @include lg-mobile {
        width: 100%;
    }
}

.product-slider {
    width: 448px;
    height: 646px;
    @include lg-mobile {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

.product-slider-img {
    width: 100%;
    height: auto;
}

.active,
.disabled {
    filter: opacity(0.4);
}
