@import "../../../mixin.scss";

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.header-logo {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #121212;
}

.nav-menu {
    @include tablets {
        display: none;
    }
}

.nav-list,
.user-block-list {
    display: flex;
}

.nav-link {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #121212;
    margin-right: 32px;
}

.user-block-item {
    margin-left: 29px;
    @include sm-mobile {
        margin-left: 20px;
    }
}

.user-block-icon {
    width: 18px;
    height: 18px;
}
