@import "../../../mixin.scss";

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header-logo-link {
    -webkit-tap-highlight-color: transparent;
}

.header-logo {
    font-family: "Playfair Display SC";
    font-size: 24px;
    @include lg-mobile {
        font-size: 20px;
    }
    @include sm-mobile {
        font-size: 16px;
    }
}

.nav-menu {
    @include tablets {
        display: none;
    }
}

.nav-list,
.user-block-list {
    display: flex;
}

.nav-item {
    margin-right: 32px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-size: 14px;
}

.nav-link:hover {
    color: #9c9c9c;
    transition: all ease 0.3s;
}

.user-block-list {
    @include tablets {
        flex: 1 1 auto;
        justify-content: flex-end;
        margin-right: 30px;
    }
    @include lg-mobile {
        justify-content: center;
        margin-right: 0;
    }
}

.user-block-item {
    margin-left: 29px;
    @include lg-mobile {
        margin-left: 20px;
    }
}

.user-block-item:first-child {
    @include tablets {
        margin-left: 0;
    }
}

.user-block-search-btn,
.user-block-site-btn,
.user-block-customer-btn,
.user-block-cart-btn {
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.user-block-search-btn:hover,
.user-block-site-btn:hover,
.user-block-customer-btn:hover,
.user-block-cart-btn:hover {
    transform: scale(1.2);
}

.user-block-search-btn {
    background: url(../../../img/search.svg) no-repeat center;
    background-size: contain;
}

.user-block-site-btn {
    background: url(../../../img/globe.svg) no-repeat center;
    background-size: contain;
}

.user-block-customer-btn {
    background: url(../../../img/user.svg) no-repeat center;
    background-size: contain;
}

.user-block-cart-btn {
    background: url(../../../img/shopping_bag.svg) no-repeat center;
    background-size: contain;
}

.user-block-item:last-child {
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.user-block-cart-quantity {
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 9px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background: #121212;
    border: 2px solid #ffffff;
    width: 20px;
    height: 20px;
}
