.cvvBtn {
    position: absolute;
    top: 40%;
    right: 12px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    background: url(../../../../img/hide-cvv.svg) no-repeat center;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
    
.cvvBtn.show_CVV {
    background: url(../../../../img/show-cvv.svg) no-repeat center;
}