@import "../../../mixin.scss";

.additinal-info-block {
    padding: 35px 0 10px 0;
    border-bottom: 2px solid #e6e6e6;
    @include lg-mobile {
        padding: 25px 0 10px 0;
    }
}

.additinal-info-title {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 35px;
    @include lg-mobile {
        margin-bottom: 20px;
    }
}

.additinal-info-color,
.additinal-info-size,
.additinal-info-material {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
    @include lg-mobile {
        font-size: 12px;
        margin-bottom: 10px;
    }
    & span {
        color: rgba($color: #121212, $alpha: 0.6);
    }
}
