@import "../../../mixin.scss";
@import "./Clothes-header/Clothes-header.scss";
@import "./Clothes-list/Clothes-list.scss";
@import "./Clothes-btn/Clothes-btn.scss";

.clothes {
    padding-top: 96px;
    @include tablets {
        padding-top: 50px;
    }
    @include lg-mobile {
        padding-top: 40px;
    }
}
