@import "../../../mixin.scss";

.clothes {
    padding-top: 96px;
    @include tablets {
        padding-top: 50px;
    }
    @include lg-mobile {
        padding-top: 40px;
    }
}

.header-clothes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    @include tablets {
        margin-bottom: 40px;
    }
    @include lg-mobile {
        margin-bottom: 30px;
    }
}

.category-clothes {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.burger-menu-clothes {
    display: none;
    width: 30px;
    height: 30px;
    @include lg-mobile {
        display: block;
    }
}

.clothes-nav {
    @include lg-mobile {
        display: none;
    }
}

.clothes-nav-list {
    display: flex;
    justify-content: space-between;
}

.clothes-nav-item {
    margin-left: 32px;
    @include tablets {
        margin-left: 10px;
    }
}

.clothes-nav-link {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.06em;
    color: #121212;
    opacity: 0.6;
    @include tablets {
        font-size: 10px;
    }
}
/***********************************/

.clothes-cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablets {
        justify-content: center;
    }
}

.clothes-cards-item {
    margin-bottom: 25px;
    @include tablets {
        margin: 0 15px 25px 15px;
    }
    @include lg-mobile {
        margin: 0 0 25px 0;
    }
}

.clothes-card-img {
    width: 100%;
    margin-bottom: 12px;
}

.clothes-card-name {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #121212;
    opacity: 0.6;
    margin-bottom: 12px;
}

.clothes-card-price-block {
    display: flex;
    justify-content: space-between;
}

.clothes-card-price {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #121212;
}
/***********************************/
.clothes-btn {
    width: 100%;
    background: #f8f8f8;
    border: 2px solid #f8f8f8;
    padding: 16px 0;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.8;
    margin-top: 20px;
}
