@import "../../../mixin.scss";

.review-modal-block {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 100;
}

.review-modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid black;
    padding: 25px;
    @include lg-mobile {
        width: 95vw;
    }
}

.review-modal-title {
    font-weight: 700;
    font-size: 20px;
}

.review-modal-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.review-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.review-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    resize: none;
    outline: none;
    overflow: overlay;
    -webkit-tap-highlight-color: transparent;
}

.error-name {
    position: absolute;
    top: 37px;
    left: 5px;
    color: #d61313;
    @include lg-mobile {
        font-size: 12px;
    }
}

.error-review {
    position: absolute;
    bottom: 50px;
    left: 5px;
    color: #d61313;
    @include lg-mobile {
        font-size: 12px;
    }
}

.error-response-review {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    color: #d61313;
    @include lg-mobile {
        font-size: 12px;
    }
}

.send-review-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #121212;
    border: 2px solid #121212;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        background: #e6e6e6;
        color: #121212;
        border-color: #e6e6e6;
    }

    &:active {
        background: #9c9c9c;
        border-color: #9c9c9c;
        color: #ffffff;
    }
    &:disabled {
        opacity: 0.35;
    }
    &:disabled:hover {
        background: #121212;
        border: 2px solid #121212;
        color: #ffffff;
    }
}

.review-rating {
    position: relative;
    font-size: 30px;
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    -webkit-tap-highlight-color: transparent;
}

.review-rating::before {
    content: "★★★★★";
    display: block;
    opacity: 0;
}

.review-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.rating__label {
    flex: 0 0 20%;
    text-align: center;
    height: 100%;
    cursor: pointer;
    color: #9c9c9c;
}

.rating__label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.rating__label:hover,
.rating__label:hover ~ .rating__label,
.rating__label:checked ~ .rating__label:hover {
    color: #ffef9f;
}

.rating__item:checked,
.rating__item:checked ~ .rating__label {
    color: #ffd300;
}
