@import "../../../mixin.scss";

.product-color-block {
    padding: 6px 0;
    @include lg-mobile {
        padding: 25px 0 6px 0;
    }
}

.product-color {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1212129c;
    margin-bottom: 16px;
    & span {
        text-transform: none;
        color: #000000;
    }
}

.product-color-img {
    width: 64px;
    height: auto;
    margin-right: 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    @include lg-mobile {
        margin-right: 10px;
    }
}

.current_color {
    outline: 2px solid #121212;
}
