@import "../../mixin.scss";
@import "./input-bar/input-bar.scss";
@import "./copyright-bar/copyright-bar.scss";

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px 0;
    @include tablets {
        padding: 25px 0 15px 0;
    }
    @include lg-mobile {
        flex-wrap: wrap;
        padding: 20px 0 0 0;
    }
}

.footer-nav-block {
    width: 255px;
    @include lg-mobile {
        width: 50%;
        text-align: center;
        margin-bottom: 5px;
    }
}

.footer-nav-title,
.footer-info-title {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 14px;
    @include lg-mobile {
        margin-bottom: 8px;
    }
}

.footer-info-title {
    @include tablets {
        margin-bottom: 20px;
    }
    @include lg-mobile {
        margin-bottom: 14px;
    }
}

.footer-nav-link,
.footer-info-text {
    font-size: 12px;
    color: rgba($color: #121212, $alpha: 0.8);
    @include tablets {
        font-size: 10px;
    }
    @include sm-mobile {
        font-size: 8px;
    }
}

.footer-nav-link:hover {
    transition: all ease 0.3s;
    color: rgba($color: #121212, $alpha: 1);
}

.footer-nav-item {
    margin-bottom: 16px;
    @include tablets {
        margin-bottom: 13px;
    }
    @include lg-mobile {
        margin-bottom: 8px;
    }
}

.footer-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    @include tablets {
        justify-content: start;
        margin-bottom: 18px;
    }
    @include lg-mobile {
        margin-bottom: 15px;
        justify-content: center;
    }
}

.footer-info-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    @include tablets {
        width: 10px;
        height: 10px;
    }
    @include lg-mobile {
        margin-right: 5px;
    }
}
