.cart-nav-bar {
    padding: 16px 0 0 0;
}

.cart-nav-lits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-nav-item {
    font-weight: 400;
    font-size: 15px;
    color: #e6e6e6;
}

.cart_section_activ {
    color: #121212;
}
