@import "./Product-header/Product-header.scss";
@import "./Product-slider/Product-slider.scss";
@import "./Product-color/Product-color.scss";
@import "./Product-size/Product-size.scss";
@import "./Product-price/Product-price.scss";
@import "./Product-info/Product-info.scss";
@import "./Pay-with/Pay-with.scss";
@import "./Product-description/Product-description.scss";
@import "./Additional-info/Additional-info.scss";
@import "./Reviews/Reviews.scss";
@import "./Related-products/Related-products.scss";

.product-page {
    width: 100%;
    display: flex;
    padding-top: 32px;
    @include tablets {
        display: block;
    }
}

.product-page-info {
    padding-left: 30px;
    width: 100%;
    @include tablets {
        padding-left: 0;
    }
}
