@import "../../../mixin.scss";

.products-header {
    background: #f8f8f8;
    padding-bottom: 24px;
    @include lg-mobile {
        padding-bottom: 20px;
    }
}

.wrapper-products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    margin-bottom: 14px;
}

.products-header-nav {
    display: flex;
    align-items: center;
}

.home-link {
    font-weight: 500;
    font-size: 11px;
    color: rgba($color: #121212, $alpha: 0.6);
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        transition: all ease 0.3s;
        color: rgba($color: #121212, $alpha: 1);
    }
    &::after {
        content: "►";
        color: rgba($color: #121212, $alpha: 0.6);
        display: block;
        margin: 0 6px;
    }
}

.current-categories-link {
    font-weight: 500;
    font-size: 11px;
    -webkit-tap-highlight-color: transparent;
}

.share-link {
    font-weight: 500;
    font-size: 11px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    &:hover {
        transition: all ease 0.3s;
        opacity: 1;
    }
    &::before {
        content: url(../../../img/share-link.svg);
        display: block;
        margin-right: 8px;
    }
}

.category-name {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    @include lg-mobile {
        font-size: 20px;
    }
}
