.error-page {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-code {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    color: #121212;
}

.error-message {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #121212;
    margin-bottom: 20px;
}

.error-text {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #121212;
    text-align: center;
}
