.payment-block {
    overflow-y: auto;
}

.payment-methods {
    padding: 32px 0;
}

.payment-methods-title {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-bottom: 16px;
}

.payment-methods-item {
    padding: 12px 0;
    border-top: 2px solid #f8f8f8;
}

.payment-methods-item:last-child {
    border-bottom: 2px solid #f8f8f8;
}

.payment-methods-label {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
}

.payment-icon {
    height: 24px;
}

.customer-card-info {
    display: flex;
}

.customer-cvv-input {
    background: url(../../../img/icon-EyeSlash.svg) no-repeat center;
    background-position-x: 90%;
    background-color: #f8f8f8;
    margin-left: 8px;
}
