.input-dropdown_block {
    position: relative;
    padding: 8px 0 24px 0;
    z-index: 50;
    user-select: none;
}

.dropdown_block_shadow {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
}

.input-dropdown {
    display: block;
    width: 100%;
    background: #f8f8f8;
    border: none;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 16px;
    outline: none;
    cursor: pointer;
    user-select: none;
    &::placeholder {
        font-weight: 500;
        font-size: 14px;
        color: rgba($color: #121212, $alpha: 0.4);
    }
    &:hover {
        &::placeholder {
            transition: all ease 0.3s;
            color: rgba($color: #121212, $alpha: 0.6);
        }
    }
    &:disabled {
        opacity: 0.35;
        &::placeholder {
            color: rgba($color: #121212, $alpha: 0.4);
        }
    }
}

.arrow-icon {
    position: absolute;
    top: 40%;
    right: 12px;
    background: url(../../../../../img/select_is_open.svg) no-repeat center;
    transform: rotate(180deg) translateY(50%);
    display: block;
    width: 24px;
    height: 24px;
}

.arrow-icon.dropdown_open {
    transform: rotate(0deg) translateY(-50%);
}

.countries-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 50;
}

.countries-item {
    display: block;
    width: 100%;
    background: #ffffff;
    padding: 15px 16px;
    font-weight: 500;
    font-size: 14px;
    &:nth-child(even) {
        background: #f8f8f8;
    }
    &:hover {
        background-color: #e6e6e6;
        transition: background-color ease 0.3s;
    }
}

.input_dropdown_error {
    outline: 1px solid #D61313;
}
