@import "../../../mixin.scss";

.pay-with-block {
    position: relative;
    border-bottom: 2px solid #e6e6e6;
    padding: 30px 0;
    @include lg-mobile {
        padding: 25px 0;
    }
}

.pay-with-title {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: white;
    padding-right: 10px;
    @include lg-mobile {
        font-size: 10px;
    }
}

.pay-with-img {
    width: 100%;
    height: auto;
}
