@import "../../../mixin.scss";

.input-bar {
    background: #000;
    color: white;
}

.wrapper-input-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    @include lg-mobile {
        justify-content: center;
        padding: 8px 0;
        flex-direction: column;
    }
}

.input-bar-text {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    @include lg-mobile {
        margin-bottom: 10px;
        font-size: 10px;
    }
}

.footer-form {
    display: flex;
    @include lg-mobile {
        width: 100%;
        margin-bottom: 10px;
    }
}

.footer-input {
    max-width: 400px;
    height: 32px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    color: #ffffff;
    border: none;
    padding: 0 16px;
    margin: 0 12px 0 -50px;
    &::placeholder {
        font-family: Spartan;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: white;
        opacity: 0.4;
        @include lg-mobile {
            font-size: 10px;
        }
    }
    @include desktop {
        width: 400px;
    }
    @include lg-mobile {
        width: 100%;
        margin: 0 12px 0 0;
    }
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 32px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.9;
    @include lg-mobile {
        width: 80px;
        font-size: 10px;
    }
}
