.clothes-btn {
    display: block;
    width: 100%;
    background: #f8f8f8;
    padding: 16px 0;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.8;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
